<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>联系我们</h2>
        <p>如果有什么宝贵的意见和建议，请及时反馈给我们</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input placeholder='称呼' type='text'>
        <input placeholder='EMAIL' type='text'>
        <input placeholder='主题' type='text'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='内容'></textarea>
        <input class='button white' type='submit'>
      </div>
    </div>
  </div>
</div>